/*START OF NAVBAR*/

.navbar-default {
    background-color: white;
}
.navbar-default .navbar-brand {
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
    color: rgba(58, 83, 155, 1);
    /*blue*/
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
    color: #E9E581
    /*yellow*/
}
.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, .02);
    padding-right: 25%;
}
.navbar-default .navbar-toggle {
    border-color: #2B2B2B
    /*grey*/

background-color: rgba(58, 83, 155, 1);
    /*blue*/
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: rgba(58, 83, 155, 1);
    /*blue*/
}
.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: 'Bariol', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #333;
}
.navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
    outline: 0;
    color: #DE1B1B;
    /*pink*/

}
.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: rgba(58, 83, 155, 1);
    /*blue*/
}
.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: rgba(214, 184, 189, 1);
    /*pink*/
}


@media(min-width: 768px) {
    .navbar-default {
        padding: 15px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
   }
   .navbar-default .navbar-brand {
       font-size: 2em;
       -webkit-transition: all .3s;
       -moz-transition: all .3s;
       transition: all .3s;
  }
  .navbar-default .navbar-nav>.active>a {
      border-radius: 3px;
 }
 .navbar-default.navbar-shrink {
     padding: 10px 0;
     background-color: #222;
}
.navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em;
}
    
    
    img .page-scroll {
        
        vertical-align: right;
    }
/*END OF NAVBAR*/
    
/*START OF SECTIONS*/
    
#background-text{
    height: 1000px;
    }

#team {
    height: 1000px;
    padding-top: 90px;
    }
    
#team-members {
        
    display: block;
    margin-left: auto;
    margin-right: auto 
    
    }
    
#last-members {
        margin-left: 20%;
    }
section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
    color: #2B2B2B;
}
section h3.section-subheading {
    margin-bottom: 25px;
    text-transform: none;
    font-family: "roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    /*font-style: italic;*/
    font-weight: 400;
}
@media(min-width: 768px) {
    section {
        margin: 10px;
        padding: 70px 0;
   }
}
  
.bg-team {
    background-color: #F6F6F6;
}

.legend {
	font-family: 'Raleway', sans-serif;
	fill: #333333;
}

.tooltip {
	fill: #333333;
}
    
/*END OF SECTION*/
    
/*START OF SPLASHSCREEN*/

.wrap{
    width: 200px;
    margin-left: 40%;
    
    }    

.submitBtn{
    font-size: 24px;
    margin: 10px 10px;
    width: 200px;
    height: 50px;
    }

.skipBtn{
    margin: 10px 10px;
    background-color: lightgray;
    margin-top: 0%;
    width: 200px;
    height: 50px;
    
    }
/*END OF SPLASHSCREEN*/

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	font-weight: 300;
	fill: #242424;
	text-align: center;
	/*text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;*/
	cursor: default;

}

.legend {
	font-family: 'Raleway', sans-serif;
	fill: #333333;
}

.tooltip {
	fill: #333333;
}


#agg-switch{
  /*position: relative;*/
    background-color: #f3f3eb; 
    width: 62px;
    height: 40px;
    margin-left: 20px;
}

.wholeContainer{
	display: flex;
	justify-content: space-between;	
}

.blobAndTableContainer{
	width: 60%;
  margin-left: 5vw;
  /*margin-top:7vw;*/
  margin-bottom: 2vw;
}

    
#recipeName{
        height: 40px;
    }

.saveRecipeBtn{
    background-color: #f3f3eb; 
    }
.saveRecipeBtn img{
    width: 30px;
    height: 30px;
   
	
    }
    
.newRecipeBtn{
     background-color: #f3f3eb;
    }
    
.newRecipeBtn img{
    width: 30px;
    height: 30px;
   
	
    }
    
 /*REMOVE BUTTON*/  

/*
.removeBtn {
    background-color: #f3f3eb; 
    }
*/
    
.removeBtn img{
    width: 30px;
    height: 30px;
   
    }
.removeBtn:hover {
	background-color:#D25050;
}
.removeBtn:active {
	position:relative;
	top:1px;
}
    
/*END OF REMOVE BUTTON*/    
    
.sunburstContainer{
	width: 40%;
	background-color: white;
	text-align:right;
  font-size: 12px;
}

#overlay{
  background-color: #000;
  z-index: 998;
  width:100%;
  height:100%;
  position: fixed;
  top:0;
  left:0;
  opacity: 0;
  pointer-events: none;
}

.tableContainer  {
  height: 35vh;
} 

.tableContainer table  {
  height: 100%;
} 
    
.form-inline {
  width: 580px;
  padding-top: 20px;
  position: relative;
}
.nutritionChartContainer svg{
  margin-top: 10px;

}

.ingredientTableRow{
  width: 100%;
  display: inline-table;  
  table-layout: fixed;
}

.table{
 width: 100%; 
 position: relative;
 margin:0;
}

tr{
  text-align: left;
}

.table>tbody>tr>td {
  vertical-align: middle;
  font-size: 14px;
}

#ingredientTable tbody{
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  width: 100%;
  position: absolute;
  margin:0;
}
    
.table-striped>tbody>tr:nth-of-type(odd){
    background-color: #f3f3eb;
    }
/*END OF TABLE CONTAINER*/

/* SEARCHVIEW */


#searchContainer{
  width: 65vw;
  height: 100vh;
  background-color: #f3f3eb;
  position: absolute;
  box-shadow:3px 0px 3px grey;
  top: 0;
  left: -60vw;
  /*margin-top: 65px;*/
  margin:0;
}

#searchFilterContainer{
  background-color: Lightgrey;
  min-height: 5vh;
  background-color: #f3f3eb;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 55vw;
}

#searchFilterContainer > div{
  border-radius: 50px;
  /*background-color: #F1F1F1;*/
  font-size: 14px;
  padding: 5px 10px;
  margin: 5px 5px;
  display: table;
}

#searchFilterContainer > span{
  display: table-cell;
  vertical-align: middle;
}

.filterRemove{
  margin-left: 5px;
}

#searchList{
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  width: 55vw;
}

#searchTableHeader{
  display: flex;
  align-items: center;
  display:flex;
  justify-content:flex-end;
  width:55vw;
  
  height:7vh;
}
#searchTableHeader > div{
  display: flex;
  align-items: center;
  justify-content:center;
}

.recipeListItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  height: 100px;
  border: solid 1px;
}

.recipeImg{
  height: 80px;
  width: 80px;
  margin: 10px 5px 10px 5px;
  border: solid;
  border-width: 1px;
  border-radius: 25%;
}

.recipeGraph{
  height: 80px;
  position: absolute;
  right: 5vw;
}

.recipeName{
  margin-left: 1vw;
  margin-top: 1vw;
}

.recipeRating{
  margin-left: 1vw;
}

.recipeNutContainer{
  display: flex;
  justify-content:center;
  height: 100%;
}

.recipeNutritionValue{
  background-color: pink;
  width: 50px;
  height: 100%;
  /*border: solid 1px black;*/
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: Helvetica;
}

/* */
.btn{
  padding: 4px 15px 4px 15px;
  font-family: 'Open Sans', sans-serif;
}

#smallImg{
  
  margin-right: 3px; 
}

.selectedIngredientBar{
  stroke: black;
  stroke-width: 2px;
}





.infoPopUpRect{
  fill: red;
  opacity: 0.5;
}
.x.axis{
   text-transform:capitalize;
}

.service-heading {
    margin: 15px 0 15px 0;
    text-transform: none;
    font-size: 30px;
}
.text-muted {
    color: #777;
    font-size: 24px;
    text-align: left;
}
.col-md-6{
  margin: 20px 0 15px 0;
}
.img-responsive{
  margin: 25px 0 15px 0;
}
section-subheading {
    margin-bottom: 25px;
    text-transform: none;
    font-family: "roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    /*font-style: italic;*/
    font-weight: 400;

}


/*Font-related*/
.barChartInfoLabel{
  text-anchor:middle;
  font-size: 16px;
  
}