/*START OF NAVBAR*/

.navbar-default {
    background-color: white;
}
.navbar-default .navbar-brand {
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
    color: rgba(58, 83, 155, 1);
    /*blue*/
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
    color: #E9E581
    /*yellow*/
}
.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, .02);
    padding-right: 25%;
}
.navbar-default .navbar-toggle {
    border-color: #2B2B2B
    /*grey*/

background-color: rgba(58, 83, 155, 1);
    /*blue*/
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: rgba(58, 83, 155, 1);
    /*blue*/
}
.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: 'Bariol', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #333;
}
.navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
    outline: 0;
    color: #DE1B1B;
    /*pink*/

}
.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: rgba(58, 83, 155, 1);
    /*blue*/
}
.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: rgba(214, 184, 189, 1);
    /*pink*/
}


@media(min-width: 768px) {
    .navbar-default {
        padding: 15px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
   }
   .navbar-default .navbar-brand {
       font-size: 2em;
       -webkit-transition: all .3s;
       -moz-transition: all .3s;
       transition: all .3s;
  }
  .navbar-default .navbar-nav>.active>a {
      border-radius: 3px;
 }
 .navbar-default.navbar-shrink {
     padding: 10px 0;
     background-color: #222;
}
.navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em;
}
    
    
    img .page-scroll {
        
        vertical-align: right;
    }
/*END OF NAVBAR*/
    
/*START OF SECTIONS*/
    
#background-text{
    height: 1000px;
    }

#team {
    height: 1000px;
    padding-top: 90px;
    }
    
#team-members {
        
    display: block;
    margin-left: auto;
    margin-right: auto 
    
    }
    
#last-members {
        margin-left: 20%;
    }
section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
    color: #2B2B2B;
}
section h3.section-subheading {
    margin-bottom: 25px;
    text-transform: none;
    font-family: "roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    /*font-style: italic;*/
    font-weight: 400;
}
@media(min-width: 768px) {
    section {
        margin: 10px;
        padding: 70px 0;
   }
}
  
.bg-team {
    background-color: #F6F6F6;
}

.legend {
	font-family: 'Raleway', sans-serif;
	fill: #333333;
}

.tooltip {
	fill: #333333;
}
    
/*END OF SECTION*/

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	font-weight: 300;
	fill: #242424;
	text-align: center;
	/*text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;*/
	cursor: default;

}

.legend {
	font-family: 'Raleway', sans-serif;
	fill: #333333;
}

.tooltip {
	fill: #333333;
}

.radarChart{
	width:100%;
}

.radarChartContainer{
  position: relative;
}

#agg-switch{
  position: absolute;
  top: 80px;
  right: 50%;
  /*margin-top: 80px;*/
  /*left: 50%;*/
  margin-right: -48px;*/
}

.wholeContainer{
	display: flex;
	justify-content: space-between;	
}

.blobAndTableContainer{
	width: 60%;
	height: 700px;
  margin-left: 5vw;
  margin-top:7vw;
  margin-bottom: 2vw;
}
    
 /*REMOVE BUTTON*/   
.removeBtn {
	background-color:#ff4f4f;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:20px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Bariol', "Helvetica Neue", Helvetica, sans-serif;
	font-size:14px;
	padding:5px 20px;
	text-decoration:none;
}
.removeBtn:hover {
	background-color:#bc3315;
}
.removeBtn:active {
	position:relative;
	top:1px;
}
    
/*END OF REMOVE BUTTON*/    
    
.sunburstContainer{
	width: 40%;
	background-color: white;
	text-align:right;
}

#overlay{
  background-color: #000;
  z-index: 998;
  width:100%;
  height:100%;
  position: fixed;
  top:0;
  left:0;
  opacity: 0;
  pointer-events: none;
}

/* TABLE CONTAINER */
.tableContainer  {
  margin-left: 1vw;
}
    
.form-inline {
  width: 600px;
  position: relative;
}
.nutritionChartContainer{
  margin-left: 1vw;
}

.ingredientTableRow{
  width: 100%;
  display: inline-table;  
  table-layout: fixed;
}

.table{
 height:220px;
 width: 600px; 
 position: relative;
}

tr{
  text-align: left;
}

.table>tbody>tr>td {
  vertical-align: middle;
}

#ingredientTable tbody{
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  width: 100%;
  position: absolute;
}
/*END OF TABLE CONTAINER*/

/* SEARCHVIEW */


#searchContainer{
  width: 60vw;
  height: 100vh;
  background-color: Lightgrey;
  position: absolute;
  top: 0;
  left: -55vw;
  margin-top: 65px;
}

#searchFilterContainer{
  background-color: Lightgrey;
  min-height: 5vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 55vw;
}

#searchFilterContainer > div{
  border-radius: 50px;
  background-color: Lightgreen;
  font-size: 14px;
  padding: 5px 10px;
  margin: 5px 5px;
  display: table;
}

#searchFilterContainer > span{
  display: table-cell;
  vertical-align: middle;
}

.filterRemove{
  margin-left: 5px;
}

#searchList{
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  width: 55vw;
}

#searchTableHeader{
  display: flex;
  align-items: center;
  display:flex;
  justify-content:flex-end;
  width:55vw;
  padding-right:10px;
  height:7vh;
}
#searchTableHeader > div{
  display: flex;
  align-items: center;
  justify-content:center;
}

.recipeListItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 100px;
  border: solid 1px;
}

.recipeImg{
  height: 80px;
  width: 80px;
  border: solid;
  border-width: 1px;
  border-radius: 50%;
}

.recipeGraph{
  height: 80px;
  position: absolute;
  right: 5vw;
}

.recipeName{
  margin-left: 1vw;
  margin-top: 0;
}

.recipeRating{
  margin-left: 1vw;
}

.recipeNutContainer{
  display: flex;
  justify-content:center;
  height: 100%;
}

.recipeNutritionValue{
  background-color: pink;
  width: 50px;
  height: 100%;
  /*border: solid 1px black;*/
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: Helvetica;
}



/* */




.x.axis{
   text-transform:capitalize;
}